# Runtime data
pids
*.pid
*.seed
allFiredEvents
scTopics

# node-waf configuration
.lock-wscript

# Dependency directory
node_modules

# build directory
build/

# lol macs
.DS_Store

# Test
testing.js
test.js